{% load static %}


<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div><a href="logout">Logout</a></div>
    <h1>Hi {{user.username}} !</h1>
    {% else %}
    <div><a href="login">Login or Sign up</a></div>
    <h1>please login or register</h1>
    {% endif %}
</body>
</html>